.desc {
    font-size: 14px;
}

.project-desc h1 {
    font-size: 20px;
}

.project-desc h2 {
    font-size: 18px;
    font-weight: 800;
}


@media only screen and (max-width: 500px) {
    .desc {
        font-size: 9px;
    }

    h1 {
        font-size: 11px;
    }

    h2 {
        font-size: 9px;
    }
}