.desc {
    font-size: 14px;
}

.project-desc h1 {
    font-size: 20px;
}

.project-desc h2 {
    font-size: 18px;
}


@media only screen and (max-width: 375px) {
    .desc {
        font-size: 10px;
    }

    h1 {
        font-size: 12px;
    }

    h2 {
        font-size: 10px;
    }
}